if (!GLOBAL.showAds)
	ins.adsbygoogle.placeholder
else
	ins.adsbygoogle(
		style="display:block",
		data-ad-client="ca-pub-2680194687384513",
		data-ad-slot="6633509987",
		data-ad-format="auto",
	)
	script (adsbygoogle = window.adsbygoogle || []).push({});