
#browse {
	.description {

		margin: 0 auto 20px;
		.box-sizing(border-box);
		@media(min-width: @screen-md-min) { max-width: 970px; }

		p {
			text-indent: 2em;
		}
	}
}




/*
*	Facility Listings
*/

#browse {

	.facility + .facility {
		margin-top: 50px;
	}

	.facility {
		margin: 0;

		h1{
			border-bottom: 1px solid @gray-lighter;
			padding: 0 0 .25em 0;
			margin: 0 0 .25em 0;

			font-size: 16pt;
			@media(min-width: @screen-sm-min) { font-size: 21pt; }
			@media(min-width: @screen-md-min) { font-size: 32pt; }
		}

		h2.subTitle {
			font-size: 12pt;
			font-family: @font-family-condensed;
			color: @gray;
			margin: 0 0 4px 0;
		}


		.facilityDetails + .facilityDetails {
			margin-top: 1em;
			@media(min-width: @screen-sm-min) { margin-top: 0; }
		}

		.facilityDetails {
			font-size: 12pt;

			address {
				margin: 0;
			}

			.attributes {
				.fa {
					margin-right: .3em;
				}
				li.active {
					font-weight: bold;
				}
			}
		}

	}
}





#browseOptions {
	font: 10pt/140% @font-family-condensed;

	.describeMatches {
		font-size: 18pt;
		line-height: 140%;
		text-align: center;
	}

	.describeMatches + .pagingInfo {
		margin-top: 12px;
	}


	.pagingInfo {
		white-space: nowrap;
		font-size: 12pt;
		line-height: 20pt;

		@media(min-width: @screen-md-min) { font-size: 15pt; }

		.prev, .numbers, .next {
			display: block;
			float: left;
			white-space: nowrap;
		}

		.prev, .next {
			width: 20%;
		}

		.numbers {
			text-align: center;
			width: 60%;
		}

		.next.disabled, .prev.disabled {
			&, & a {
				.opacity(.6);
				cursor: not-allowed;
			}
		}

		.fa:hover{
			border-bottom: 1px solid #fff;
		}

		.prev {
			.fa {
				margin-right: .4em;
			}
		}
		.next{
			.fa {
				margin-left: .4em
			}
			text-align: right;
		}
	}

}



#filters {
	a.toggle {
		cursor: pointer;
		.expando {
			display: inline-block;
			padding-right: .3em;
			display: inline-block !important;
		}
	}

	.btn-group {
		width: 100%;

		.btn {
			font-size: 12pt;
			padding: .25em .75em;
		}

		.dropdown-toggle {
			width: 100%;
			text-align: left;
		}
		ul {
			max-height: 12em;
			overflow-y: scroll;
			overflow-x: hidden;
			width: 100%;

			li, a {
				padding: 0;
				margin: 0;
				width: 100%;
				font-size: 10pt;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				font-family: @font-family-base;
			}
			a {
				padding: .25em .5em;
			}
		}
	}
	.btn-group + .btn-group {
		margin-top: 4px;
	}


	.panel-body {
		padding: 4px;
	}

	hr {
		margin: 8px;
		border-color: @panel-info-border;
	}


	ul.toggles {
		margin-top: 12px;

		li {
			font-size: 12pt;
			line-height: 120%;

			white-space: nowrap;
			overflow: hidden;
			padding: .25em;
			margin: 1px 0;

			&:hover {
				background-color: @panel-info-heading-bg;
			}

			&.active, &.active a {
				background-color: @panel-primary-heading-bg;
				color: @panel-primary-text;
			}

		}

		.fa {
			width: 1.1em;
		}

		.badge {
			position: absolute;
			right: 1.6em;
			font-size: 10pt;
			display: inline-block ;
			.border-radius(0);
			line-height: inherit;
			padding: 0 .66em;
		}

	}
}