

/*
*	Global Overrides
*/

body { min-width: 260px; }




/*
*	Adsense
*/

.adsbygoogle.placeholder {
	display:block;
	border: 1px solid black;
	background-color: #eee;
}


.leader {
	text-align: center;
	padding: 12px 0;

	.adsbygoogle {
		margin: 0 auto;
		.gad-hori();
	}
}

.inlined {
	text-align: center;
	padding: 32px 0;

	.adsbygoogle {
		margin: 0 auto;
		.gad-inline-results();
	}
}

.sky {
	text-align: center;
	.adsbygoogle {
		margin: 0 auto;
		.gad-mdCol-smRow();
	}
	margin-bottom: 12px;
}
