

/*
*	Global Overrides
*/


body { min-width: 260px; }

.adsbygoogle.placeholder {
	display:block;
	border: 1px solid black;
	background-color: #eee;
}



.pageTitle {
	a {
		color: @text-color;
	}

	small {
		display: block;
	}
}




@panel-primary-text:		@alert-info-text;
@panel-primary-border:		@alert-info-border;
@panel-primary-heading-bg:	@alert-info-bg;

.panel-info .panel-heading {
	color: @panel-primary-text;
	background-color: @panel-primary-border;
	border-color: @panel-primary-heading-bg;
}