

/*
*	Global Overrides
*/
// h1, h2, h3, h4, h5, h6, .navbar-brand {
// 	font-family: "Yanone Kaffeesatz";
// 	font-weight: 400;
// }


html { min-width: 280px; }

.adsbygoogle.placeholder {
	display:block;
	border: 1px solid black;
	background-color: #eee;
}


// @media (max-width: (@screen-xs-min - 1)) {
// 	[class^="col-"] {
// 		padding: 0;
// 		margin: 0;
// 	}
// }

// body {}

// nav.navbar.navbar-default {
// 	.box-shadow(0 0 10 @gray-darker)
// }


.pageTitle {
	a {
		color: @text-color;
	}

	small {
		display: block;
	}
}
