

/*
*	Tabs
*/

.nav-tabs li.active a {
	color: @panel-primary-text;
	background-color: @panel-primary-border;
}



/*
*	Panels
*/

.panel.panel-default {
	color: @panel-default-text;
	border-color: @panel-default-border;
	& > .panel-heading {
		color: @text-color;
		background-color: @panel-default-heading-bg;
		border-color: @panel-default-border;
	}
}

.panel.panel-primary {
	color: @panel-primary-text;
	border-color: @panel-primary-border;
	& > .panel-heading {
		color: @panel-primary-text;
		background-color: @panel-primary-border;
		border-color: @panel-primary-border;
	}
}

.panel.panel-info {
	color: @panel-info-text;
	border-color: @panel-info-border;
	& > .panel-heading {
		color: @panel-primary-text;
		background-color: @panel-info-border;
		border-color: @panel-info-border;
	}
}

.panel.panel-success {
	color: @panel-success-text;
	border-color: @panel-success-border;
	& > .panel-heading {
		color: @panel-primary-text;
		background-color: @panel-success-border;
		border-color: @panel-success-border;
	}
}

.panel.panel-warning {
	color: @panel-warning-text;
	border-color: @panel-warning-border;
	& > .panel-heading {
		color: @panel-primary-text;
		background-color: @panel-warning-border;
		border-color: @panel-warning-border;
	}
}

.panel.panel-danger {
	color: @panel-danger-text;
	border-color: @panel-danger-border;
	& > .panel-heading {
		color: @panel-primary-text;
		background-color: @panel-danger-border;
		border-color: @panel-danger-border;
	}
}