extends layout


block content
	#search.container

		.row: .col-lg-24
			-var activeTab = 'search'
			include includes/browse/tabs

		.row
			.col-lg-24

				script.
					(function() {
						var cx = 'partner-pub-2680194687384513:6701851181';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
						'//www.google.com/cse/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
					})();

				gcse:searchresults-only