extends layout


block content
	include includes/statistics/mixins
	-var activeTab = 'statistics'

	#statistics.container
		include includes/breadcrumb

		.row
			.col-lg-24
				header
					h1.pageTitle !{pageTitle}
						small.pageDescription.text-muted= pageDescription

				.leader: include includes/adsense
						


		.row: .col-lg-24
			if (place.type === 'provider')
				include includes/providers/tabs
			else
				include includes/browse/tabs


		.row
			.col-md-18
				include includes/statistics/tables

			.col-md-6
				include includes/statistics/nav




